
body::-webkit-scrollbar {
    display: none;
}
.logo { 
    height: 45px;
    color: white;
    font-weight: 700;
    font-family: cursive;
    font-size: 30px;
}

.navbar-light .navbar-brand {
    color: white;
    position: relative;
    top: 13px;
}
.navbar-light .navbar-brand:hover {
    color: white;
}
.fixed-top {
    position: absolute;
}

.nav-link {
    color: #ffffff;
    font-weight: 600;
}

.relative-text {
    top: 120px;
    width: 100%;
    color: white;
    position: absolute;
}

.relative-text h1 {
    float: right;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 7px 0 7px;
}

.carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.2);
  }

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}